openapi: 3.0.0
info:
  title: Amazon SES Amazon Simple Email Service (SES) Contact Lists API
  description: Amazon Simple Email Service (SES) is a cloud-based email sending service for marketing, notification, and transactional emails with reliable deliverability and scalable infrastructure.
  version: '2019-09-27'
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
    url: https://aws.amazon.com/ses/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://email.amazonaws.com
  description: Amazon SES API endpoint
tags:
- name: Contact Lists
  description: Operations for managing contact lists.
paths:
  /v2/email/contact-lists:
    post:
      operationId: CreateContactList
      summary: Amazon SES Create Contact List
      description: Creates a contact list for managing email subscription preferences.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ContactListName:
                  type: string
                  description: The name of the contact list.
                Description:
                  type: string
                Topics:
                  type: array
                  items:
                    type: object
                    properties:
                      TopicName:
                        type: string
                      DisplayName:
                        type: string
                      Description:
                        type: string
                      DefaultSubscriptionStatus:
                        type: string
                        enum:
                        - OPT_IN
                        - OPT_OUT
              required:
              - ContactListName
      responses:
        '200':
          description: Contact list created successfully.
      tags:
      - Contact Lists
